
	<div class="jumbotron">
		<%= image_tag "logo.png" %>
		
	  <h1>das überbeerrater</h1>
	  <p>
	  	<b>Don't be a milk drinker and join our noble cause asap!</b>
	  </p>
	  <div class="row" style="display: none">
	  	<div class="col-xs-2 text-center">
	  	<div class="embed-responsive embed-responsive-4by3">
	  		<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wJPah21kVZ0?showinfo=0&iv_load_policy=3&controls=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	  <p>
	  	Prepare to hold your bodily fluids, because here comes <b><i>das überbeerrater</i></b>. This awesome app guides you towards more sophisticated beer consumption and solves your daily problems such as locating the closest bar.
	  </p>
	  <p>
	  	Moreover, by becoming a member of our awesome community, you are able to achieve the respected social status that you've always dreamed of.
	  </p>
	  
		
	  <% unless current_user %>
		  <div class="actions">
		  	<%= link_to 'signin', signin_path, class:'btn btn-lg' %></a>
		  	<span class="split">or</span>
		  	<%= link_to 'signup', signup_path, class:'btn btn-lg' %>
			</div>
		<% end %>
	</div>