
	<div class="jumbotron">
		<%= image_tag "logo.png" %>
		
	  <h1>das überbeerrater</h1>
	  <p>
	  	<b>Don't be a milk drinker and join our noble cause asap!</b>
	  </p>
	  <p>
	  	Prepare to hold your inner fluids, because here comes <b><i>das überbeerrater</i></b>. This awesome app guides you towards more sophisticated beer consumption and solves your daily problems such as locating the closest bar.
	  </p>
	  <p>
	  	Moreover, by becoming a member of our awesome community, you are able to achieve the respected social status that you've always dreamed of.
	  </p>
	  
		
	  <% unless current_user %>
		  <div class="actions">
		  	<%= link_to 'signin', signin_path, class:'btn btn-lg' %></a>
		  	<span class="split">or</span>
		  	<%= link_to 'signup', signup_path, class:'btn btn-lg' %>
			</div>
		<% end %>
	</div>