<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.min.js"></script>
<script>
  var myApp = angular.module('myApp', []);

  myApp.controller("BreweriesController", function ($scope, $http) {
    $http.get('breweries.json').success( function(data, status, headers, config) {
      $scope.breweries = data;
    });

    $scope.order = 'name';

    $scope.sort_by = function (order){
      $scope.order = order;
      console.log(order);
    }

    $scope.searchText = '';
  });
</script>

<h1>Breweries ála Angular.js</h1>
<hr/>
<div ng-app="myApp" ng-controller="BreweriesController">
	<div class="panel panel-default">
  	<table class="table table-hover">
	    <thead>
	    	<th> <a ng-click="sort_by('name')">name</a> </th>
				<th> <a ng-click="sort_by('year')">year</a> </th>
				<th> <a ng-click="sort_by('countOfBeers')">Count of Beers</a> </th>
	    </thead>
	    <tr ng-repeat="brewery in breweries| orderBy:order | filter:searchText">
	      <td>{{brewery.name}}</td>
	       <td>{{brewery.year}}</td>
	        <td>{{brewery.countOfBeers}}</td>
	    </tr>
	  </table>
	</div>
</div>