<h1>Beers ála jQuery.js</h1>
<hr/>
<div class="panel panel-default">
<table id="beertable" class="table table-hover">
	<thead>
  <tr>
    <th><a href="#" id="name">Name</a> </th>
    <th><a href="#" id="style">Style</a> </th>
    <th><a href="#" id="brewery">Brewery</a> </th>
  </tr>
</thead>

</table>
</div>