/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navibar {
    padding: 12px 0px 12px 6px;
    background-color: rgba(225, 225, 225, 1.0);
}
.navibar > a {
	font-family: "arial", "helvetica", "sans-serif";
	font-weight: 700;
	color: rgba(0, 0, 0, 0.7);
	font-size: 1.3em;
	text-decoration: none;
	padding: 5px 24px 7px 24px;
}
.navibar > a:hover {
	color: rgba(0, 0, 0, 0.9);
	background-color: rgba(0, 0, 0, 0.1) !important;
}

.navibar > span > a {
	font-family: "arial", "helvetica", "sans-serif";
	font-weight: 700;
	color: rgba(0, 0, 0, 0.7);
	font-size: 1.1em;
	text-decoration: none;
	padding: 5px 6px 7px 6px;
}
.navibar > span > a:hover {
	text-decoration: underline;
	background-color: rgba(0, 0, 0, 0.0) !important;
}
