/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.hot {
	color: rgb(255,100,0);
}

main {
	margin-top: 96px !important;
}

.container-full {
	margin: 0 auto;
  width: 100%;
	.col-md-12 {
		padding: 0;
	}
}

h2 {
	font-size: 1.8em;

}


html {
	
}
main {
	background-color: rgb(255, 255, 255) !important;
}

.navbar {
	background-color: rgba(40,40,40,1.0);
	border: none;
}

h1 {
	font-family: "arial", "helvetica neue", "helvetica", "sans-serif";
	font-size: 4em;
	font-weight: 700;
}
.btn-xs {
	padding-left: 8px;
	padding-right: 8px;
}
.btn-primary, .btn-danger, .btn-success, .btn-warning {
	color: rgb(255,255,255) !important;
}

.panel {
	thead {
	th {
		background-color: #f5f5f5;
		color: rgb(125,125,125);
		border-bottom: rgba(255,255,255,0.0) !important;
		padding-top: 8px !important;
		padding-bottom: 8px !important;
		}
	}
}

.alert {
	margin-top: 16px !important;
	margin-bottom: 16px !important;
}

